{% extends "/base.html" %}
{% block titulo %}{% endblock %}

{% block contenido %}
<header class="container text-center mt-5">  
    <div class="row">
        <h1>Encuesta dojo</h1>
    </div>
</header>
<div class="container mt-3 d-flex p-3 justify-content-center">
    <div class="row">
        <form action="/process" method="post">
            <div class="mb-3  mt-3">
                <label for="nombre" class="form-label">Nombre:</label>
                <input name="nombre" type="text" class="form-control" id="nombre" aria-describedby="emailHelp" required>
            </div>
            <div class="col-12">
                <select name="ubicacion" class="form-select" required>
                    <option value="">Selecciona una ciudad</option>
                    <option value="1">New York</option>
                    <option value="2">Santiago</option>
                    <option value="3">California</option>
                    <option value="3">Silicon Valley</option>
                    <option value="3">Sidney</option>
                </select>
            </div>
            <div class="col-12 mt-3">
                <select name="favorito" class="form-select" required>
                    <option value="">Selecciona un lenguaje</option>
                    <option value="1">Python</option>
                    <option value="2">C#</option>
                    <option value="3">JavaScript</option>
                    <option value="3">C++</option>
                    <option value="3">PHP</option>
                </select>
            </div>
            <div class="mb-3 col-12">
                <label for="exampleFormControlTextarea1" class="form-label mt-3">Comentarios:</label>
                <textarea name="comentario" class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary mb-3">Enviar</button>
            </div>
            
        </form>
    </div>
</div>

{% endblock %}