{% extends "/base.html" %}
{% block titulo %}{% endblock %}

{% block contenido %}

<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-4">
            <div class="alert alert-primary" role="alert">
                <h2> {{session['name'] | title}}</h2>
                <p class="text-body d">Ubicacion Dojo:  {{session['location']}}</p>
                <p class="text-body ">Lenguaje Favorito: {{session['favorite']}}</p>
                <p class="text-body ">Comentario: {{session['comentary']}}</p>
                <a class="btn btn-primary" href="/">Ir a encuesta</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}